@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Outfit", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 1.25em;
}

h1 {
  font-size: 6em;
}

.app {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}

.app:before {
  content: "";
  background: url(".//assets/bg-media.jpg") no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.app .search {
  text-align: center;
  padding: 2em;
  width: 100%;
}

.app input {
  width: 100%;
  max-width: 320px;
  padding: 0.7em 1.5em;
  font-size: 1.2em;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  outline: none;
  color: white;
}

::placeholder {
  color: white;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-container {
  width: 100%;
  height: 100vh;
  padding: 0 1em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app .top {
  width: 100%;
  margin: 1em auto;
}

.app .top p {
  font-size: 1.5em;
}

.app .description {
  position: relative;
  right: -90%;
  transform-origin: 0 0;
  transform: rotate(270deg);
}

.app .bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: 1em auto;
  padding: 1em;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.25);
}

.app .bottom p {
  font-size: 1em;
}

.bold {
  font-weight: 700;
}

.app .bold p {
  font-size: 1.5em;
}

@media (min-width: 768px) {
  .content-container {
    max-width: 800px;
    max-height: 900px;
  }
}
